*{ /*le quitamos los estilos por default para que no se vea feo*/
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size:16px;
    font-family:'Avenir';
}

button{
    width:20%;
    border-radius: 0;
    padding:1% 1%;
    border:none;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-top: 2%;
}

button:hover{
    background-color:black;
    color:white;
}

button .icono{
    transition: all .3s ease;
    margin-left: -10px;
    opacity: 0;
}

button:hover .icono{    
    margin-left: 20px;
    opacity: 1;
}

button:focus{
    outline: none;
}

h1{
    font-size:2.5rem;
}

h2{
    font-size:2rem;
}
h3{
    font-size:1.5rem;
}

/*Navbar*/
header{
    display:flex;
    justify-content: space-between;
    width: 100%;
    height:64px;
    padding: 0 2%;
    position: fixed; /*hace que la navbar se vea siempre aunque scrolleemos hacia abajo*/
    background-color: black;
    color:white;
    z-index: 2;
}
nav{
    width:50%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

#logo{
    width:4rem;
    height:100%;    
    transition: all .5s ease; /*hace que los cambios en el hover se hagan lentamente y con efecto*/
}

#logo:hover{
    cursor:pointer;
}

.nav2{
    justify-content: flex-end;
}

header nav span{
    padding: 0 2%;
    cursor:pointer;
    transition:all .3s ease; /*retrasa el efecto del hover*/
}

header nav span:hover{
    background-color:white;
    color:black;
}

/*Main Sections*/
.main-section{
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.cover{
    background-image: url(https://images.pexels.com/photos/209977/pexels-photo-209977.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

.cover2{
    background-image: url(https://images.pexels.com/photos/342361/pexels-photo-342361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

.cover3{
    background-image: url(https://images.pexels.com/photos/2273/sport-tennis-old-net.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

article.layout{
    width:100%;
    height:100vh;
    background-color:rgba(0, 0,0, .4);
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    color:white;
}

/*Seccion de Cards*/
section.cards-info{
    width: 100%;
    min-height: 60vh;
    background-color: black;
    text-align:center;
    padding-top: 2%;
    color:white;
    /*display: flex;
    flex-direction: column;
    justify-content: center;*/
}


article.cards-list{
        margin-top: 4%;
        display: flex;
        justify-content: space-around;
        align-items: center;        
        flex-wrap: wrap;
}
div.card{
    background-size: cover;
    background-position: center;
    width:25%;
    height: 50vh;
    border-radius: 3px;    
    margin-bottom: 5%;
    color:black;
    text-align: center;
    font-weight: bolder;
}
div.card1{
    background-image: url(https://images.pexels.com/photos/704792/pexels-photo-704792.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
div.card2{
    background-image: url(https://images.pexels.com/photos/1103831/pexels-photo-1103831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
div.card3{
    background-image: url(https://images.pexels.com/photos/1277397/pexels-photo-1277397.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
}
div.white-layout{
    background-color: rgba(255,255,255,.5);
    padding: 3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Sección formulario*/
section.parallax{
    min-height: 60vh;
    background-image:url(https://images.pexels.com/photos/1784798/pexels-photo-1784798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat:no-repeat;
    opacity:.9;
    display: flex;
    justify-content: center;
}
.parallax .formulario{
    display:flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: 50vw;
}
.parallax .formulario * {
    margin-top: 10px;
    
}
.parallax .formulario button {
    margin-top: 30px;
    width: 40%;
} 

/*footer*/
#main-footer{
    padding: 2% 5%;
    background-color: black;
    color:white;
}

#main-footer article:first-child{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
#main-footer a{
    text-decoration: none;
}
.fab{
    color:white;
    font-size: 30px;
    cursor:pointer;
}

#main-footer article:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-footer article:nth-child(2) * {
    margin-right: 50px
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
a:hover {
    background-color:black;
    color:white;
} 

/*Media queries*/
@media(max-width:425px){
    button{
        width:25%;
    }
    div.card{
        width:80%;
    } 
    .parallax .formulario button {
        width: 80%;
    } 
}


